<!doctype html>

<header>
    <title>Number Jumble Solver</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, sans-serif;
            text-align: center;
        }
        #response {
            color: red;
        }
    </style>
    <script>
        
    </script>
</header>

<body>
    <h1>Password Protected</h1>
    <form method="POST">
        <input type="text" required="true" name="username" placeholder="Username">
        <br>
        <input type="password" required="true" name="password" placeholder="Password">
        <br>
        <input type="submit" value="Submit">
    </form>
    <h3 id="response">{{ response }}</h3>
</body>